<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConStr"
			 connectionString="Server = DESKTOP-F0401I7\SQLEXPRESS01; Database = sist_loja; Integrated Security=True;"
			 providerName="Sytem.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>